:root {
  --main-bg-color: #2d4730d6;
  --page-bg-color: #fff;

  --main-text-color: rgba(0, 0, 0, 0.854);

  --main-font-size: 16px;
  --header-font-size: 24px;
}

body,
* {
  font-family: "Open Sans", sans-serif;
  font-size: var(--main-font-size);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  color: var(--main-text-color);

  background-color: var(--page-bg-color);
  margin: 0;
  padding: 0;

  h1,
  h2,
  h3 {
    margin: 0;
    padding: 0;
  }
}

.main_container {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

section {
  margin-bottom: 20px;

  .section_header {
    font-size: var(--header-font-size);
    font-weight: 700;
    text-align: center;
    background: var(--main-bg-color);
    color: #ffffff;
    border-radius: 7px;
    padding: 2px 0;
  }
  .section_text {
    margin-left: 10px;
    margin-top: 10px;
  }
}
.section_sub_title {
  font-weight: 700;
  margin-left: 10px;
}

.info_section {
  .imgInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-size: 36px;
      font-weight: 400;
    }
    img {
      width: 150px;
      height: 150px;
      object-fit: cover;
      border-radius: 50%;
      border: 1px solid var(--main-bg-color);
    }
  }

  h3 {
    font-size: var(--header-font-size);
    font-weight: 700;
  }

  .contacts {
    text-align: right;
    a {
      cursor: pointer;
      color: var(--main-bg-color);
    }
  }
}

.project_section {
  ul {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    list-style-type: none;
  }
}
